{% extends 'base.html' %}

{% block title %}{{ subject.name }}{% endblock %}
{% block title_page %}{{ subject.name }}{% endblock %}

{% block content %}
    <div style="margin-bottom: 10px;">
        <a href="{{ url_for('days.index') }}">- Back to list</a>
    </div>
    <div>
        {{ subject.name }}
    </div>

    <div class="footer-content">
        <a href="{{ url_for('subjects.edit', id_subject=subject.id) }}">Edit</a> -
        <a href="{{ url_for('subjects.delete', id_subject=subject.id) }}">Delete</a>
    </div>
{% endblock %}
