{% extends 'base.html' %}

{% block title %}My articles{% endblock %}

{% block title_page %}Articles{% endblock %}

{% block content %}
    <div>
        {% for idx, article in articles.items() %}
            <div class="article">
                <h2 class="title">{{ article.title }}</h2>
                <div>
                    {{ article.text }}
                </div>
                <div class="bottom">
                    <a href="{{ url_for('edit_article', article_id=article.idx) }}">Edit</a>
                    <a href="{{ url_for('remove_article', article_id=article.idx) }}">Delete</a>
                </div>
            </div>
        {% else %}
            No articles
        {% endfor %}
    </div>
{% endblock %}
