{% extends 'base.html' %}

{% block title %}Create an article{% endblock %}
{% block title_page %}Create an article{% endblock %}

{% block content %}
    <form action="/articles" method="post">
        <div>
            <input type="text" name="title" value="{% if article %}{{ article.title }}{% endif %}"/>
        </div>
        <div>
            <textarea name="text">{% if article %}{{ article.text }}{% endif %}</textarea>
        </div>
        <div>
            <input type="hidden" name="id" value="{% if article %}{{ article.id }}{% endif %}" />
            <input type="submit" value="Add">
        </div>
    </form>
{% endblock %}
