#content #messages {
    font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif';
}

#content #messages .message{
    border: 5px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
}

#content #messages .error {
    font-size: 20px;
    color: #9C1A1C;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

#username-form {
    margin-top: 20px;
}
