.title_page {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.article {
    padding: 20px;
    padding-bottom: 0px;
    background-color: lightgray;
    margin-bottom: 20px;
}

.article .title {
    color: deeppink;
    margin-bottom: 20px;
}

.article .bottom {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 11px;
    text-transform: lowercase;
}

